.article-body {
    overflow: hidden;
}

.button-wrapper {
    margin-top: -4em;
    margin-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 5px;

    a > i {
        font-size: 35px;
    }
}

.expanded.button-wrapper {
    margin-top: 0;
}

.button-wrapper:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.see-less {
    margin-bottom: 5px;
}

.fadeout {
    position: relative; 
    bottom: 4em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 