<div class="text-left article" [ngClass]="{'expanded' : articleExpanded}">
    <markdown [src]="articlePath"></markdown>
</div>
  <div *ngIf="!articleExpanded" class="fadeout"></div>
  <button *ngIf="!articleExpanded"
          type="button"
          class="btn btn-default read-more"
          (click)="articleExpanded = true">Read More
  </button>
  <button *ngIf="articleExpanded"
          type="button" 
          class="btn btn-default see-less"
          (click)="articleExpanded = false">See Less
  </button>