<div [@openClose]="articleExpanded ? 'open' : 'closed'" class="text-left article-body">
  <article-header [article]="article"></article-header>
  <markdown [src]="article.path"></markdown>
</div>
<div *ngIf="!articleExpanded" class="fadeout"></div>
<div class="text-center button-wrapper" (click)="toggle()" [ngClass]="{ expanded: articleExpanded }">
  <a *ngIf="!articleExpanded" class="read-more"><i class="fas fa-angle-down"></i></a>
  <a *ngIf="articleExpanded" class="see-less"><i class="fas fa-angle-up"></i></a>
</div>
