.navbar {
    opacity: .97;
}

.navbar > .container {
    padding-left: 0;
    padding-right: 0;
    color: #fff;

    a {
        padding-right: 10px;
    }

    i {
        padding-right: 5px;
    }
}

.center-pane {
    margin: 0 auto;
    padding-top: 60px;
    display: flex;
    flex-flow: row wrap;
}

.center-pane > * {
    flex: 1 100%;
}

.main {
    margin: 25px 25px 0 0;
}

.aside {
    margin: 25px 0;
}

@media all and (min-width: 800px) {
    .main  {
        flex: 10 0px !important;
        order: 1; 
    }
    .aside {
        flex: 1 auto !important;
        order: 2;
    }
}

.about-katie {
    // margin-top: 30px;

    .main-photo {
        max-width:100%;
        border-radius: 10%;
    }
}


