.center-pane {
    margin: 0 auto;
    display: flex;
}

.navbar > .container {
    padding-left: 0;
    padding-right: 0;
    color: #fff;

    a, i {
        padding-right: 8px;
    }
}

// .main-heading {
//     border-bottom: 1px solid rgba(0,0,0,.1);
//     background-color: #343a40;
//     padding: 5px;
//     text-align: center;

//     h3 {
//         font-family: 'Proxima Nova', sans-serif;
//         font-weight: bold;
//     }

//     h5 {
//         font-weight: 300;
//     }
// }