<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container col-12 col-sm-10 col-md-9 col-lg-6">
        <a class="navbar-brand">
            <i class="fas fa-running"></i>
            <strong>Shepard Shenanigans</strong>
        </a>
    </div>
</div>
<div class="center-pane col-12 col-sm-10 col-md-9 col-lg-6">
    <main>
        <div class="main">
            <full-bio></full-bio>
        </div>
    </main>
    <!-- <aside>
        
    </aside> -->
</div>

<!-- <router-outlet></router-outlet> -->